h1 {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 0;
    font-family: 'monospace', sans-serif;
    color: green;
    font-size: 2em;
    font-weight: normal;
    margin-top: 30px;
  }